
body{
  font-family: "montseratt","sans-serif";
  margin: 0;
  border: 0;
  padding: 0;
}

.app{
  background-image: url('./assets/moderate-weather-bg.jpeg');
  background-position: bottom;
  background-size: cover; 
  background-repeat: no-repeat;
}

.warm-app{
  background-image: url('./assets/warm-weather-bg.jpeg');
  background-position: bottom;
  background-size: cover; 
  background-repeat: no-repeat;
}

.cold-app{
  background-image: url('./assets/cold-weather-bg.jpeg');
  background-position: bottom;
  background-size: cover; 
  background-repeat: no-repeat;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.cold-heading{
  font-size: large;
  color:white;
  font-style: italic;
}

.heading{
  font-size: large;
  color:black;
  font-style: italic;
}
.search-bar{
  height: 40px;
  margin-top: 10px;
  border-radius: 5px 5px 10px 10px;
  outline: none;
  box-shadow: 0px 5px rgb(0, 1, 5);
  color: rgb(65, 30, 30);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 800ms ease-in-out;
}
.search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
  border-color: dodgerblue;
  box-shadow: 0 0 10px 0 dodgerblue;
  width: 400px;

}

.location-box .location{
  margin-top: 80px;
  color: #ffffff;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date{
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #ffffff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

}

.min-max{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .weather{
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px ;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

#error-message{
  color: red;
  margin-top: 30px;
  font-size: medium;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  background-color:white;
  height: 25px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
}

@media (max-width: 360px){
  .search-bar{
    width: 80vw;
  }
  .weather-box,.min-max, .min, .max{
    width: 80vw;
  }
  .min-max{
    margin-left: 10px;
    margin-right: 25px;
  }
  .temp{
    margin-right: 25px;
    font-size: 90px;
    font-weight: 600;
  }
}

@media (min-height: 670){
  .temp, .location, .weather, .min-max, .search-box{
    margin-top: 50px;
  }
}
